.main-container {
  width: 90rem;
  height: auto;
  display: flex;
  flex: 7;

}

.text-500 {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.375rem;
}

/*Navbar CSS*/
.navbar-container {
  background-color: #1E2640;
  color: white;
  display: flex;
  flex: 1;
  

}

.navbar {
  display: flex;
  padding: 1rem 0.625rem;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  flex: 1 0 0;
}

.navbar-btn {
  display: flex;
  width: 13rem;
  height:2.5rem;
  padding: 0.5rem 1rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
  flex: 1 0 0;
}

.company {
  display: flex;
  align-items: center;
  padding-bottom: 1.5rem;

}

.name {
  align-self: stretch;
  padding-left: 0.75rem;
  line-height: 1.375rem;
  width: 10rem;
}

.name>div>u {
  font-size: 0.8125rem;
  font-weight: 400;
}

.company-name {
  font-size: 1rem;
  font-weight: 500;
}

.navbar-btn-inner {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;

}

.btn-icon {
  width: 1rem;
  height: 1rem;
  flex-shrink: 0;
}

.btn-text {
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem;
}

.nav-bottom {
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75rem;
  border-radius: 0.25rem;
background: #353C53;
}

.credit {
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
}

/*Dashboard CSS*/
.dashboard-container {
  display: flex;
  flex: 6;
}

/*Dashboard-Header CSS*/
.header-container {
  display: flex;
  padding: 0.75rem 2rem;
  width: 74rem;
  height: auto;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  background-color: #FFF;
  border-bottom: 1px solid #d9d9d9;
}

.left-header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  gap: 1rem;
}

.help {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.75rem;
  color: #4d4d4d;
  line-height: 1rem;
  opacity: 0.8;
}

.search-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  background: #F2F2F2;
  padding: 0.5625rem 1rem;
}

input {
  border: none;
  width: 22rem;
  background: #F2F2F2;
}

.right-header {
  display: flex;
  gap: 1rem;
}

.box {
  display: flex;
  padding: 1.25rem;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
  flex: 1 0 0;
  border-radius: 0.5rem;
  box-shadow: 0px 2px 6px 0px rgba(26, 24, 30, 0.04);
}

.box-text {
  color: #4d4d4d;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}

.box-value {
  color: #1a181e;
  font-size: 2rem;
  font-style: normal;
  font-weight: 500;
  line-height: 2.375rem;
}

.box-container {
  display: flex;
  justify-content: space-evenly;
  gap: 1.25rem;
  flex-wrap: wrap;
}

.body-container {
  padding-inline: 2rem;
  background: #fafafa;
}

.overview {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.overview-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  padding-bottom: 1.5rem;
}

.overview-text {
  color: #1A181E;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
}

.prev-month {
  width: 8.5625rem;
  height: 2.25rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-shrink: 0;
  border-radius: 0.25rem;
  border: 1px solid #D9D9D9;
  background: #FFF;

}

/* Lower Dashboard*/
.table-heading {
  color: #1A181E;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.75rem;
}
.lower-container{
  padding: 0.75rem 0.75rem 1.5rem 0.75rem;
  border-radius:  0.5rem;

background:  #FFF;
/* Shadow/Card */
box-shadow: 0px 2px 6px 0px rgba(26, 24, 30, 0.04);
}
.table-search-container {
  display: flex;
  justify-content: space-between;
  padding-top: 1.25rem;
}

.sort-btns {
  display: flex;
  justify-content: space-between;
  gap: 0.75rem;
}

.sort {
  display: flex;
  padding: 0.375rem 0.75rem;
  align-items: center;
  gap: 0.375rem;
  border-radius: 0.25rem;
  border: 1px solid #D9D9D9;
  background: #FFF;
}

.download {
  width: 2.25rem;
  height: 2.25rem;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0.25rem;
  border: 1px solid #D9D9D9;
}

/* Order Table*/
.table-container{
  padding-top:1.5rem;
  width: 100%;
}
table{
  width: 100%;
  border-collapse: collapse;
  padding: 0.625rem 0.75rem;
}
th{
  height: 2.5rem;
  padding: 0.875rem 0.75rem;
  border-radius: 0.25rem;
background:  #F2F2F2;
}
td{
  height: 3rem;
  padding: 0.875rem 0.75rem;
  border-bottom: grey;
}

.right-col{
  text-align: start;
}
.left-col{
  text-align: end;
}
.order{
  color:  #146EB4;
}


/* Pagination*/
.pagination-container{
  display: flex;
  justify-content: center;
  align-items: center;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.pagination-numbers {
  display: flex;
  justify-content: center;
  align-items: center;
}

span {
  padding: 0.5rem;
  cursor: pointer;
}

.prev-next {
  display: flex;
padding: 0.375rem 0.75rem 0.375rem 0.375rem;
justify-content: center;
align-items: center;
gap: 0.375rem;
  margin: 0 0.5rem;
}

.active{
  background-color: #146EB4;
  display: flex;
width: 1.75rem;
height: 1.75rem;
padding: 0.125rem 0rem;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 0.5rem;
border-radius: 0.25rem;
}
.not-active{
  display: flex;
  width: 1.75rem;
  height: 1.75rem;
  padding: 0.125rem 0rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  border-radius: 0.25rem;
}